* {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS';
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    height: 100vh;
}

.h-auto {
    height: auto;
}